/* .cart-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e9ecef;
  }
  
  .cart-item img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .item-details .name {
    display: block;
    font-size: 1.25rem;
    color: #333;
  }
  
  .item-details .options {
    display: block;
    color: #666;
  }
  
  .price {
    font-weight: bold;
    color: #333;
  }
  
  .discounted-price {
    color: #f00;
    text-decoration: line-through;
  }
  
  .cart-summary {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: .25rem;
  }
  
  /* Bootstrap 버튼 커스텀 스타일 */
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
  }
   */